<% if (typeof data === 'undefined') { var data = ''; } %>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= data.head %> | webpack5のサンプル</title>
  <link rel="stylesheet" href="./css/style.css" />
  <script defer src="./js/init.js"></script>
</head>
