@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

:root {
  --primary-color: rgb(173, 221, 183);
  --main-color: #131313;
}

body {
  font-family: 'Kosugi Maru', sans-serif;
  color: var(--main-color);
}

img {
  width: 100%;
  max-width: 100%;
}

.Header {
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: var(--primary-color);
}

.Header__List {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
}

.MainContainer {
  min-height: 100%;
  padding-block: 4rem;
  padding-inline: 2rem;
}

.MainContainer > :where(* + *) {
  margin-top: 1rem;
}
